The graph illustrates the proportion of people living in cities across four different Asian countries from 1970 to 2040, while the population of 2030 and 2040 are predicted.
 Overall, by 2040 the ratio of individuals in city have been increased.Moreover,malaysia showed prevalent figure in chart.
